# Mendatory
LANGUAGE="en"
PC="xxx"
PCPASSWORD="nx2Tech736!"
PCUSER="xxx"
NAMESERVER="x.x.x.x"
GATEWAY="x.x.x.x"
IMAGEURL="https://xxxxxxxxxxxxxxxxxxxx.img"
PRODUSERNAME="xxx"
PRODPASSWORD="xxx"
OLDPC="xxx"
OLDPCUSERNAME="xxx"
OLDPCPASSWORD="xxx"
# Only for debug purpose
DEBUG=True/False
FIRSTSTAGE=x
USERNAME="xxx"
TRIGRAM="xxx"
USERUUID="xxx"
NETWORKUUID="xxx"
PROJECTUUID="xxx"
IMAGEUUID="xxx"
VMUUID="xxx"
HOSTUUID="xxx"