# Mandatory
LANGUAGE="en"
PC="{PC}"
PCUSER="{PCUSER}"
PCPASSWORD="{PCPASSWORD}"
IMAGEURL="{IMAGEURL}"
PRODUSERNAME="{PRODUSERNAME}"
PRODPASSWORD="{PRODPASSWORD}"
OLDPC="{OLDPC}"
OLDPCUSERNAME="{OLDPCUSERNAME}"
OLDPCPASSWORD="{OLDPCPASSWORD}"
FRONTENDHOST="{FRONTENDHOST}"
FRONTENDPORT="{FRONTENDPORT}"
APPROVALPOLICY="{APPROVALPOLICY}"
EMAILREPORT="{EMAILREPORT}"
HOSTSSHUSERNAME="{HOSTSSHUSERNAME}"
HOSTSSHPASSWORD="{HOSTSSHPASSWORD}"