[Unit]
Description="Escape-Game Dashboard"

[Service]
Restart=always
WorkingDirectory=/home/nutanix/ntnx-escape-game
ExecStart=/home/nutanix/ntnx-escape-game/.venv/bin/python3 frontend/app.py
ExecStop=deactivate

[Install]
WantedBy=multi-user.target