[Unit]
Description="Escape-Game SSH Server"

[Service]
Restart=always
WorkingDirectory=/home/nutanix/ntnx-escape-game
ExecStart=/home/nutanix/ntnx-escape-game/.venv/bin/python3 wssh --address={LISTEN_IP}
ExecStop=deactivate

[Install]
WantedBy=multi-user.target